* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;

}
.menu {
  background-color: #212f3d;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 80px;
  box-shadow: 1px 1px 2px grey;
}

.menu > a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  position: relative;
  top: 40%;
  left: 16%;
  padding: 8px;
  margin-top: -50%;
  margin-left: 50px;
  transition: all 0.5s ease-in-out;
  user-select: none;
  text-shadow: 1px 0px 3.5px black;
  border-radius: 20px;
}

.menu > img {
  height: 70px;
  border-radius: 35%;
  position: absolute;
  top: 5px;
  right: 25%;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.menu > a:hover {
  background-color: #6c757d;

}

#bgcolor {
  background-color: white;
  background-position-x: right;



}


#backgroundd {
  position: relative;
  top: 0px;
  right: 30px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;


}

#centro {
  position: absolute;
  top: 40%;
  left: 45%;

}

#logocentro {
  width: 170px;
  border-radius: 50%;
  box-shadow: 1px 0px 3px black;
}

#centro > a {
  padding: 10px;
  background-color: #EA4A60;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 3px 6px grey;

}

#centro > a:hover {
  opacity: 78%;
  box-shadow: 0px 0px 0px grey;


}


.cartoes1  h1 {
  color:#202020;
  display: flex;
  justify-content: center;
  font-size: 55px;
  text-shadow: 1px 1px 0.5px grey;
}

.cartoes1  h5 {
  font-weight: normal;
  font-style: italic;
  display: flex;
  justify-content: center;
  text-shadow: 0.5px 2px 2px grey;
  font-size: 16px;

}

.cartao {
  background-color: #17202a;
  width: 250px;
  height: 440px;
  border-radius: 10px;
  color: white;
  margin: 20px;
  box-shadow: 2px 3px 3px grey;
  transition: all 0.35s ease-in-out;
}

.cartao h3 {
  
  position: relative;
  font-size: 21.5px;
  top: 15px;
  padding: 14px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 0px 1px black;
}

.cartao img {
  width: 75px;
  position: relative;
  margin-top: 10%;
  margin-left: 35%;

}

.cartao h4 {
  font-weight: normal;
  font-size: 16px;
  padding: 10px;
  text-shadow: 1px 1px 1px black;


}

#x {
  background-color: white;
  height: 2px;
  box-shadow: 0px 2px 3px black;

}

.cartoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 150px;
}

.cartao:hover {
  transform: scale(1.10);
}


#backgroundd {

  position: relative;
  top: 50%;


}

.cartaoGrande {
  background-color: #17202a;
  width: 300px;
  height: 440px;
  border-radius: 10px;
  color: white;
  margin: 10px 20px 40px 20px;
  box-shadow: 2px 3px 3px grey;
  transition: all 0.35s ease-in-out;

}

.cartaoGrande:hover {
  transform: scale(1.10);



}

.cartaoGrande h3 {
  position: relative;
  font-size: 21.5px;
  top: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 2px 2px black;

}

.cartaoGrande h4 {

  font-weight: normal;
  font-size: 15px;
  padding: 10px;
  margin: 0px;
  height: 140px;
  text-shadow: 1px 1px 1px black;

}

.cartaoGrande img {
  position: relative;
  top: -50px;
  left: 15%;
  width: 70%;
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.6));
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";

}

#h3 {
  font-size: 17px;
  margin-bottom: 35px;


}



.cartoesCompra {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cartaoGrande > button{
  color: white;
  background-color: #EA4A60;
  padding: 10px;
  border-radius: 50px;
  border: none;
  position: relative;
  bottom: 0px;
  left: 35%;
  box-shadow: 1px 3px 5px grey;
  cursor: pointer;
}

#pagamento {
  display: flex;
  justify-content: center;
}


.pagamento h1 {
  font-size: 55px;

}

.pagamento h3 {
  display: flex;


}

.pagamento {
  text-align: center;

}

#fpsboost, #ultraboost, #attdrivers, #fpsvalor, #attvalor, #ultravalor {
  display: none;
  color: #EA4A60;
  font-family: Arial, Helvetica, sans-serif;
}

.pagamento input {
  border-style: double;
  border-radius: 5px;
  width: 400px;
  height: 40px;
  font-size: 16.5px;
}

#apagar {
  background-color: #17202a;
  width: 400px;
  height: 1080px;
}

#btpagamento {
  margin-top: 30px;
  border: none;
  background-color: #EA4A60;
  color: white;
  border-radius: 50px;
  padding: 15px;
  font-size: 17px;;


}

#serviço span {
  font-size: 17px;
} 




@media only screen and (max-width: 1550px) {
  
.menu > img {
  height: 70px;
  border-radius: 35%;
  position: absolute;
  top: 5px;
  right: 5%;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.menu > a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  position: relative;
  top: 40%;
  left: 3%;
  padding: 4px;
  margin-top: -50%;
  margin-left: 50px;
  user-select: none;
  text-shadow: 1px 0px 3.5px black;
  border-radius: 20px;
}}




@media only screen and (max-width: 1150px) {

#logocentro {
  width: 130px;
}

#centro > a {
  font-size: 12px;
  padding: 6px;
}

#backgroundd {

  padding-top: 50px;



}

#centro {
  top: 20%;

}



}

@media only screen and (max-width: 970px) {
  
.menu > img {
  height: 70px;
  border-radius: 35%;
  position: absolute;
  top: 5px;
  right: 5%;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.menu > a {
  word-wrap: break-word;
  margin-left: 8px;
}

#backgroundd {

  top: -50%;


}

#logocentro {
  width: 100px;
}

#centro > a {
  font-size: 11px;
  padding: 4px;
}


}

@media only screen and (max-width: 700px) {


.menu > a {
  word-wrap: break-word;
  font-size: 12px;
  margin-left: 8px;
  padding: 0px;
  left: 3%;
}

#backgroundd {

  transition: all 0.5s ease-in-out;


}


#logocentro {
  width: 95px;
}

#centro > a {
  font-size: 12px;
  padding: 5px;
}

#centro {
  top: 15%;
  left: 36.6%;
  transition: all 0.5s ease-in-out;

}


}

@media only screen and (max-width: 450px) {

  #centro {
  top: 15%;
  left: 42%;
  transition: all 0.5s ease-in-out;

}

#backgroundd {

  width: 425px;
  right: 25px;


}

.menu > img {
  position: absolute;
  top: 10%;
  right: 0%;
  height: 80%;
}
  
.menu > a {
  word-wrap: break-word;
  font-size: 14px;
  margin-left: 3px;
  padding: 0px;
  left: 6%;
}

.cartoes1  h1 {
  font-size: 35px;
  position: relative;
  left: 14px;
  white-space: nowrap;
}

.cartoes1  h5 {
  
  position: relative;
  left: 12px;
}



}